matplotlib
seaborn
gensim
googledrivedownloader==0.4
nltk
numpy
pandas
scikit-learn
scipy
tqdm
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0+cpu
